<%-include("header")%>

<body>
    <div class="box" id="heading">
        <h2><%= listDate %></h2>
        <h2><%= listTitle %></h2>

    </div>
    <div class="box">
        <% things.forEach(function(thing){ %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checking" value="<%=thing._id%>" onchange="this.form.submit()">
                <p><%= thing.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
        <% })%>


        <form class="item" id="form1" action="/" method="POST">
            <input type="text" id="input1" name="newItem" placeholder="Write new item">
            <button type="submit" name="list" value="<%=listTitle%>">+</button>

        </form>

    </div>
    <%-include("footer")%>